<mat-toolbar color="primary">
  <p  routerLink='/'>My Messages</p>


  <ul class="nav justify-content-center">
    <li class="nav-item navbar-light bs-tooltip-right" *ngIf="!isAuthentacated">
      <button type="button" class="btn btn-warning" routerLink="/auth/login" routerLinkActive="mat-accent">
        log In</button> </li>
        <li class="nav-item navbar-light bs-tooltip-right" *ngIf="!isAuthentacated">
          <button type="button" class="btn btn-primary" routerLink="/auth/signup" routerLinkActive="mat-accent">
            Sign Up</button> </li>
            <li class="nav-item navbar-light bs-tooltip-right"   *ngIf="isAuthentacated">
              <button type="button" class="btn btn-danger"  (click)='onLogout()'>
                Log Out</button> </li>
    <li class="nav-item navbar-light bs-tooltip-right" *ngIf="isAuthentacated">
      <button type="button" class="btn btn-success" routerLink="/create" routerLinkActive="mat-accent">Create
        Post</button> </li>


  </ul>



</mat-toolbar>
