<h3 class="border-bottom btn-lg ">My Posts</h3>
<mat-accordion *ngIf="posts.length>0">

  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header >
      {{post.title}}
    </mat-expansion-panel-header>
    <p color="warn">{{post.content}}
    </p>

    <mat-action-row>
      <button mat-flat-button color="primary">Edit</button>
      <button mat-flat-button color="warn" (click)="onDelete(post.id)">Delete</button>

    </mat-action-row>
  </mat-expansion-panel>




</mat-accordion>

<p class="badge badge-pill badge-primary " *ngIf="posts.length==0">no posts</p>
